<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <label for="team_name">Team Name:</label>
    <input type="text" name="team[name]" id="team[name]"><br>
  <label for="team_motto">Team Motto:</label>
    <input type="text" name="team[motto]" id="team[motto]"><br>

  <h2>Hero 1</h2>
  <label for="superhero_name_1">Hero's Name:</label>
    <input type="text" name="team[superheroes][][name]" id="superhero_name_1"><br>
  <label for="superhero_power_1">Hero's Power:</label>
    <input type="text" name="team[superheroes][][power]" id="superhero_power_1"><br>
  <label for="superhero_bio_1">Hero's Bio:</label>
    <input type="text" name="team[superheroes][][bio]" id="superhero_bio_1"><br>

  <h2>Hero 2</h2>
  <label for="superhero_name_2">Hero's Name:</label>
    <input type="text" name="team[superheroes][][name]" id="superhero_name_2"><br>
  <label for="superhero_power_2">Hero's Power:</label>
    <input type="text" name="team[superheroes][][power]" id="superhero_power_2"><br>
  <label for="superhero_bio_2">Hero's Bio:</label>
    <input type="text" name="team[superheroes][][bio]" id="superhero_bio_2"><br>

  <h2>Hero 3</h2>
  <label for="superhero_name_3">Hero's Name:</label>
    <input type="text" name="team[superheroes][][name]" id="superhero_name_3"><br>
  <label for="superhero_power_3">Hero's Power:</label>
    <input type="text" name="team[superheroes][][power]" id="superhero_power_3"><br>
  <label for="superhero_bio_3">Hero's Bio:</label>
    <input type="text" name="team[superheroes][][bio]" id="superhero_bio_3"><br>

  <button type="submit" value="submit">Submit</button>
</form> 
